<script lang="ts">
  import Terminal from './terminal.svelte';
  import { appWindow } from '@tauri-apps/api/window';
  import { onMount } from 'svelte';

  onMount(() => {
    appWindow.setDecorations(false);
    document
      .getElementsByClassName('titlebar-minimize')?.[0]
      .addEventListener('click', () => appWindow.minimize());
    document
      .getElementsByClassName('titlebar-maximize')?.[0]
      .addEventListener('click', () => appWindow.toggleMaximize());
    document
      .getElementsByClassName('titlebar-close')?.[0]
      .addEventListener('click', () => appWindow.close());
  });
</script>

<Terminal />
