<script lang="ts">
  import { Child, Command } from '@tauri-apps/api/shell';
  import { appWindow } from '@tauri-apps/api/window';
  import { onDestroy, onMount } from 'svelte';
  import ANSI from 'ansi-to-html';
  import * as path from '@tauri-apps/api/path';

  let shell = localStorage.getItem('shell') || 'bash';

  const ansi = new ANSI();

  $: lines = [] as string[];
  let keydown: (e: KeyboardEvent) => Promise<void>;
  $: currLine = '';
  let command: Command;
  let process: Child;

  onMount(async () => {
    command = new Command(shell, [], {
      cwd: await path.homeDir()
    });

    command.on('error', (err) => {
      console.error(err);
    });

    command.on('close', async (data) => {
      console.log(
        `command finished with code ${data.code} and signal ${data.signal}`
      );
      await appWindow.close();
    });

    command.stderr.on('data', (data: string) => {
      lines = [...lines, ansi.toHtml(data)];
    });

    command.stdout.on('data', (data: string) => {
      lines = [...lines, ansi.toHtml(data)];
    });

    process = await command.spawn();

    keydown = (async (e: KeyboardEvent) => {
      console.log(currLine);

      if (e.key === 'Enter' && currLine.length > 0) {
        e.preventDefault();
        lines.push(currLine);
        await process.write(`${currLine}\n`);

        currLine = '';
      }
    }) as (e: KeyboardEvent) => Promise<void>;
  });

  onDestroy(async () => {
    await process?.kill();
  });
</script>

<div
  class="w-full h-screen inverse-toggle px-5 pt-4 shadow-lg text-gray-100 text-sm font-mono subpixel-antialiased
              bg-gray-800 pb-6 pt-4 rounded-lg leading-normal blur-md"
>
  <div class="top mb-2 flex" data-tauri-drag-region>
    <div class="h-3 w-3 bg-red-500 rounded-full titlebar-close" />
    <div class="ml-2 h-3 w-3 bg-orange-300 rounded-full titlebar-maximize" />
    <div class="ml-2 h-3 w-3 bg-green-500 rounded-full titlebar-minimize" />
  </div>
  <div
    class="mt-4 flex-1 overflow-y-scroll flex-col bg-gray-800 w-full h-full text-white p-4 rounded-lg text-lg"
  >
    {#each lines as line}
      <div class="flex flex-row">
        <p class="flex items-center w-full rounded-lg whitespace-nowrap">
          {@html line}
        </p>
      </div>
    {/each}
    <div class="flex flex-row">
      <input
        type="text"
        class="flex bg-gray-800 bg-opacity-50 text-white w-full rounded-lg whitespace-nowrap caret-current"
        bind:value={currLine}
      />
    </div>
  </div>
</div>

<svelte:window on:keydown={keydown} />
